@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.login-container {
    height: 100vh;
    width: 100vw;
    background-color: #000081;
    border: 6px solid #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    font-family: "VT323";
    height: 260px;
    width: 400px;
    background-color: #bdbdbd;
    padding: 4px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    box-shadow: 2px 2px black;
}

.login-form-header {
    background-image: linear-gradient(to right, #000081, #4792d1);
    height: 26px;
    display: flex;
    align-items: center;
}

.login-form-header p {
    color: white;
    font-weight: 600;
    margin-left: 4px;
    font-size: 18px;
}

.login-form-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form-content label input {
    width: 200px;
    border: none;
    height: 22px;
    box-shadow: 1px 1px black inset;
    padding-left: 6px;
}

.login-form-content input:focus {
    outline: none;
}

.login-form-buttons {
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    margin-right: 1px;
}

.login-button {
    margin-bottom: 48px;
    font-weight: 500;
    font-family: "VT323";
    width: 48px;
    height: 18px;
    border: none;
    border-top: 1px solid white;
    border-left: 1px solid white;
    box-shadow: 1px 1px black;
}

.login-error {
    color: red;
}

.instruction {
    height: 20px;
}

.width120 {
    width: 120px;
}