/* General CSS for the page */
.sv-main {
    width: 98%;
    overflow: hidden;
    margin: auto;
    display: flex;
    gap: 24px;
    color: black;
}

.sv-container-left {
    flex: 2.85;
}

.sv-container-right {
    height: 100%;
    flex: 1.15;
}

/* Video */
.sv-video {
    width: 100%;
    height: 534px;
    border-radius: 12px;
}

/* Video Header */
.sv-video-header {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.sv-title {
    font-size: 17.5px;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.video-header-bottom {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.header-bottom-left {
    display: flex;
}

.header-bottom-right {
    display: flex;
    gap: 8px;
}

.header-bottom-right button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border: none;
}

.header-bottom-right button:hover {
    background-color: #e5e5e5;
}

.header-bottom-right button p {
    margin-left: 6px;
    font-weight: 700;
}

.sv-channel {
    display: flex;
    flex-direction: column;
}

.sv-channel a {
    font-size: 16px;
    font-weight: 600;
}

.subscribers {
    font-size: 12px;
}

.sv-channel-icon {
    border-radius: 25px;
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.sv-channel a:link, .sv-channel a:visited {
    color: #0f0f0f;
    text-decoration: none;
    cursor: pointer;
}

.sv-channel a:hover, .sv-channel a:active {
    color: #0f0f0f;
    text-decoration: none;
    cursor: pointer;
}

.sub {
    width: 95px;
    height: 36px;
    border: none;
    border-radius: 25px;
    background-color: #0f0f0f;
    color: #fbfbfb;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0.5px;
    cursor: pointer;
}

.sub:hover {
    background-color: #272727;
    cursor: pointer;
}

.like {
    display: flex;
}

.like-left {
    width: 70px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.like-right {
    width: 40px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 6px;
}

.share {
    width: 92px;
    border-radius: 25px;
}

.download {
    width: 118px;
    border-radius: 25px;
}

.options {
    width: 35px;
    border-radius: 25px;
}

/* Video Description */
.sv-video-description {
    height: 84px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-top: 12px;
    padding: 12px;
    font-size: 14px;
}

.sv-video-description:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.sv-video-description-header {
    display: flex;
    gap: 8px;
    font-weight: 600;
}

/* Comment Section */
.comment-section {
    margin-top: 18px;
}

.comment {
    display: flex;
    margin-top: 12px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.comment-left {
    margin-right: 16px;
}

.comment-left img {
    border-radius: 25px;
    height: 40px;
}
.comment-right-top {
    font-size: 13px;
    padding: 2px 0px;
    text-decoration: none;
    color: black;
}

.posted-date {
    font-size: 12px;
    margin-left: 6px;
}

.comment-right-middle {
    font-size: 14px;
    padding: 2px 0px;
}

.comment-right-action {
    display: flex;
    height: 32px;
    align-items: center;
    gap: 10px;
}

.comment-right-action p {
    font-size: 12px;
}

.reply {
    border: none;
    background-color: white;
    height: 100%;
    width: 54px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    margin-left: 12px;
}

.reply:hover {
    background-color: #e5e5e5;
}

.replies {
    width: 118px;
    height: 36px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #065fd4;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.replies p {
    margin-left: 6px;
}

.replies:hover {
    background-color: #def1ff;
}

/* Advertisement */
.ad { 
    height: 160px;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.ad-top {
    height: 50%;
}

.ad-top img {
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.ad-bottom {
    border-top: 1px solid #e5e5e5;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 12px;
}

.get-tickets {
    font-size: 16px;
}

.ad-bottom-middle {
    width: 60%;
    height: 40px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
}

.vividseats-icon {
    height: 48px;
    border-radius: 25px;
}

.buybutton {
    border: none;
    height: 36px;
    width: 85px;
    border-radius: 25px;
    margin-right: 12px;
    background-color: #065fd4;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.buybutton:hover {
    background-color: #0456bf;
}

.buybutton a:hover, .buybutton a:active, .buybutton a:link, .buybutton a:visited {
    text-decoration: none;
    color: white;
}

/* Related Videos */
.related-videos {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.related-video {
    display: flex;
    height: 100px;
    width: 100%;
}

.related-video-left {
    flex: 1.5;
    border-radius: 5px;
    margin-right: 8px;
}

.related-video-right {
    display: flex;
    flex-direction: column;
    flex: 2.5;
}

.related-video-title {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.related-video-info {
    display: flex;
    font-size: 12px;
    align-items: center;
    color: #606060;
    margin-top: 8px;
}

.related-video-channel {
    text-decoration: none;
    color: #606060;
}

.published {
    display: flex;
    align-items: center;
    padding-left: 8px;
}